footer {
  background-color: var(--color-gray-500);
  width: 100%;
  max-width: 1366px;
  margin-inline: auto;
}

footer > div:first-child {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 3rem 1rem;

  display: flex;
  flex-direction: column-reverse;
  gap: 4rem;
}

footer > div:first-child > div:last-child {
  
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  gap: 2rem 4rem;


  max-width: 440px;
  margin-inline: auto;

  & > article {
    text-align: center;

    & h2 {
      font: var(--font-lg);
      margin-bottom: 1rem;
    }
    & p {
      color: var(--color-gray-100);
      text-wrap: balance;
    }
  }

  /* form */
  & form {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-inline: auto;

    & input, & textarea {

      width: 100%;
      padding: 1rem;
      background-color: transparent;
      border-bottom: 1px solid #fff;

      &:focus {
        outline: none;
        border-color: var(--color-primary);
      }

      &::placeholder {
        color: #ffffff70;
        text-transform: uppercase;
      }
    }

    & button {
      margin-top: 2rem;
      align-self: flex-end;
    }
  }
}

.content-input {
  position: relative;

  & img {
    width: 24px;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%) scale(0);
    transition: transform 200ms ease-in-out;
  }
  
  & .message {
    position: absolute;
    top: 100%;
    right: 0;
    font-weight: 300;
    font-size: 12px;
    color: var(--color-red-error);
    transform: scale(0);
    transition: transform 100ms ease-in-out;
  }
}

footer .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;

  border-top: 1px solid #fff;

  position: relative;

  /* decoration circles */
  & > .decorative-circles {
    position: absolute;
    bottom: 150%;
    right: 80%;

    & img {
      display: block;
    }
  }
}

footer .list-social-networks {
  margin: 0;
}

@media (width >= 768px) {
  footer .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  footer > div:first-child {
    padding: 4rem 2rem;
  }
}

input:invalid:not(:focus):not(:placeholder-shown), 
textarea:invalid:not(:focus):not(:placeholder-shown) {
  border-bottom-color: #ff6b6b;

  & ~ img {
    transform: translate(0, -50%) scale(1);
    
  }
  & ~ span {
    transform: scale(1);
  }
}
input:valid:not(:focus):not(:placeholder-shown),
textarea:valid:not(:focus):not(:placeholder-shown){
  border-bottom-color: #4EE1A0; /* verde validado */
}

@media (width >= 1000px) {
  footer > div:first-child > div:last-child {
    max-width: 1110px;
    & > article {
    text-align: start;
  }
  }
}