.list-social-networks {
  display: flex;
  align-items: center;
  gap: 1rem;
 
  & img {
    width: 26px;
    display: block;
  }
}
.list-social-networks > a{
  display: block;
  transition: transform 200ms ease-in-out;

  &:hover {
    transform: scale(1.1);

    & img {
      filter: brightness(0) saturate(100%) invert(81%) sepia(26%) saturate(1196%) hue-rotate(106deg) brightness(95%) contrast(93%);
    }
  }
}
.branding {
  width: 100%;
  max-width: 250px;

  margin: 0 auto;
  padding-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  background: var(--color-gradient-image);
  position: relative;
}
.container-image-user figure img{
  width: 100%;
  display: block;
}

.name-user a {
  font: var(--font-m);
  letter-spacing: var(--traking-m);
}

.container-image-user {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}


@media (width >= 768px) {
  
  .branding {
    flex-direction: row;
    max-width: 100%;
    background: transparent;
    padding-left: 2rem;
  }

  .container-image-user{
    width: 100%;
    max-width: 320px;
    position: absolute;
    top: 0;
    right: 2rem;
    /* z-index: -10; */
    background: var(--color-gradient-image);
    padding-top: 2rem;
    align-items: flex-end;
  }

  .list-social-networks {
    margin-right: 2rem;
  }
}