/* greeting */

.hero-section {
  padding: 3rem 1.5rem;
}
.greeting {
  width: 100%;

  & h1 {
    font: var(--font-l);
    letter-spacing: var(--traking-l);
    text-align: center;

  }
  & p {
    color: var(--color-gray-100);
    text-align: center;
  }
  & a {
    align-self: center;
    padding-block: .6rem;
    border-bottom: 2px solid var(--color-primary);

  }
}

.greeting {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.greeting .underline-style {
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 4px;

    background-color: var(--color-primary);

    position: absolute;
    left: 0;
    bottom: -1px;

  }
}