/* greeting */
.dd {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;

  position: relative;
}
.hero-section {
  padding: 3rem 0;
  margin-inline: 1rem;
  /* temporal */
}
.greeting {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5em;

  & h1 {
    font: var(--font-xl);
    /* font-size: var(--size-tittle); */
    line-height: 1em;
    letter-spacing: var(--traking-l);
    text-align: center;
    text-wrap: balance;

  }
  & p {
    color: var(--color-gray-100);
    text-align: center;
    text-wrap: pretty;
    width: 100%;
    max-width: 410px;
    margin-inline: auto;
  }
}

.greeting .underline-style {
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 4px;

    background-color: var(--color-primary);

    position: absolute;
    left: 0;
    bottom: -1px;

  }
}

@media (width >= 768px) {
  .hero-section {
    display: grid;
    grid-template-columns: 1fr 220px;
    margin-inline: 2rem;
    min-height: 500px;

  }
  
  .greeting {
    & h1 {
      text-align: start;
    }
    & p {
      text-align: start;
      margin-inline: 0;

    }
    & a {
      align-self: flex-start;
    }
}

}