.projects-section {
  margin: 0 1rem;
  padding: 4rem 0;
}
.projects-section header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 4rem;

  & > h2 {
    font: var(--font-lg);
  }
}

/* control imgs */
.content-projects img {
  width: 100%;
  display: block;
  transition: filter 200ms ease-in-out;
}

.content-projects > article figure {
  position: relative;
  border-radius: .25rem;
  overflow: hidden;

  & .btns-links-projects {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: transform 200ms ease-in-out;
  }
  &:hover img {
    filter: brightness(0.2);
  }

  &:hover .btns-links-projects{
    transform: scale(1);
  }
}

.content-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem 1.75rem;
}
.content-projects > article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  & h4 {
    /* font: var(--font-sm); */
    font-size: 22px;
    text-transform: uppercase;

  }
  & .soft-skills {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    color: var(--color-gray-100);
  }
}

@media (width >= 768px) {
  .projects-section {
    margin: 0 2rem;
  }
}
@media (width >= 1110px) {
  

}