.skills-section {
  margin:0 1rem;
  padding: 4rem 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem ;
  justify-content: center;
  align-items: center;

  position: relative;
}

.skills-section article{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .25rem;

  & h3 {
    font: var(--font-md);
  }
  & p {
    color: var(--color-gray-100);
  }
}

.skills-section .decorative-circles {
  position: absolute;
  bottom: -1%;
  left: calc(80% + 3vw);

  & img {
    display: block;
  }
}

@media (width >= 768px) {
  .skills {
    margin:0 2rem;
  }
  .skills-section {
    margin: 0 2rem;
  }
  .skills-section article{
    align-items: start;
  }
}
@media (width >= 1110px) {
  
  .skills {
    margin-right: 0;
  }
}