/* imports */
@import "./buttons.css";
@import "./header.css";
@import "./hero-sections.css";
@import "./skills.css";
@import "./projects.css";


:root {
  /* get colors */
  --color-dark-page: #151515;
  --color-primary: #4EE1A0;
  --color-gray-100: #D9D9D9;
  --color-gray-500: #242424;
  --color-gradient-image: linear-gradient(to top, var(--color-gray-500) 10%, transparent 70%);

  --font-base: 'Space Grotesk', sans-serif;

  /* -------- Headings -------- */
  --size-title: clamp(40px, 8vw, 80px);
  --font-xl: 700 var(--size-title) var(--font-base);
  /* --tracking-xl: -2.5px; */

  --size-subtitle-h2: clamp(36px, 5vw, 64px);
  --font-lg: 700 var(--size-subtitle-h2) var(--font-base);


  --size-subtitle-h3: clamp(32px, calc(1.9vw + 25px), 45px);
  --font-md: 700 var(--size-subtitle-h3) var(--font-base);

  --font-l: 700 38px/50px var(--font-base);
  --tracking-l: -1px;

  --font-m: 700 24px/32px var(--font-base);
  --tracking-m: normal;

  /* -------- Body -------- */
  --font-body-l: 500 16px/26px var(--font-base);
  --tracking-body-l: normal;


  color-scheme: light dark;
}


*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font: var(--font-body-l);
  letter-spacing: var(--tracking-body-l);
  background-color: var(--color-dark-page);
}
a {
  text-decoration: none;
  color: currentColor;
}