/* get colors */
:root {
  --color-dark-page: #151515;
  --color-primary: #4EE1A0;
  --color-gray-100: #D9D9D9;
  --color-gray-500: #242424;

  --font-base: 'Space Grotesk', sans-serif;

  /* -------- Headings -------- */
  --font-xl: 700 88px/88px var(--font-base);
  --tracking-xl: -2.5px;

  --font-l: 700 48px/56px var(--font-base);
  --tracking-l: -1.5px;

  --font-m: 700 24px/32px var(--font-base);
  --tracking-m: normal;

  /* -------- Body -------- */
  --font-body-l: 500 18px/28px var(--font-base);
  --tracking-body-l: normal;

  color-scheme: light dark;
}


*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font: var(--font-body-l);
  letter-spacing: var(--tracking-body-l);
  background-color: var(--color-dark-page);
}

h1 {
  font: var(--font-xl);
  letter-spacing: var(--tracking-xl);
}